#file types
_ReSharper.*
*.DS_Store
*.tlog
*.vsp
*.psess
*.v11.suo
*.user
*.suo
*.config
#*.Framework.XML

#specific files


#specific folders
[Oo]bj/
[Dd]ebug*/
[Rr]elease*/
Reference
packages
TestResults
emailimages
ShalomBaptistNextStep
kendoui.web.2013.1.319.open-source
auxiliaryFiles
PrairieMessages
PrairieSwing

