USE [master]
GO
/****** Object:  Database [PrairieCMS]    Script Date: 04/30/2013 14:07:20 ******/
CREATE DATABASE [PrairieCMS] ON  PRIMARY 
( NAME = N'PrairieCMS', FILENAME = N'C:\ASUS\_data\PrairieCMS.mdf' , SIZE = 2048KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'PrairieCMS_log', FILENAME = N'C:\ASUS\_data\PrairieCMS_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PrairieCMS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PrairieCMS]
GO
/****** Object:  Table [dbo].[webpages_Roles]    Script Date: 04/30/2013 14:07:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[webpages_Roles](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](256) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[RoleName] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[webpages_Roles] ON
INSERT [dbo].[webpages_Roles] ([RoleId], [RoleName]) VALUES (1, N'Admin')
SET IDENTITY_INSERT [dbo].[webpages_Roles] OFF
/****** Object:  Table [dbo].[webpages_OAuthMembership]    Script Date: 04/30/2013 14:07:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[webpages_OAuthMembership](
	[Provider] [nvarchar](30) NOT NULL,
	[ProviderUserId] [nvarchar](100) NOT NULL,
	[UserId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Provider] ASC,
	[ProviderUserId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[webpages_Membership]    Script Date: 04/30/2013 14:07:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[webpages_Membership](
	[UserId] [int] NOT NULL,
	[CreateDate] [datetime] NULL,
	[ConfirmationToken] [nvarchar](128) NULL,
	[IsConfirmed] [bit] NULL,
	[LastPasswordFailureDate] [datetime] NULL,
	[PasswordFailuresSinceLastSuccess] [int] NOT NULL,
	[Password] [nvarchar](128) NOT NULL,
	[PasswordChangedDate] [datetime] NULL,
	[PasswordSalt] [nvarchar](128) NOT NULL,
	[PasswordVerificationToken] [nvarchar](128) NULL,
	[PasswordVerificationTokenExpirationDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[webpages_Membership] ([UserId], [CreateDate], [ConfirmationToken], [IsConfirmed], [LastPasswordFailureDate], [PasswordFailuresSinceLastSuccess], [Password], [PasswordChangedDate], [PasswordSalt], [PasswordVerificationToken], [PasswordVerificationTokenExpirationDate]) VALUES (1, CAST(0x0000A15F017F822C AS DateTime), NULL, 1, CAST(0x0000A19A00AE99C5 AS DateTime), 0, N'AGaJlnOP7DTWtvj11jyfkY/xvu5B8YAL1tZGFaHih5epkerdF8W/cPgJH+LtJ2QPCA==', CAST(0x0000A15F017F822C AS DateTime), N'', NULL, NULL)
INSERT [dbo].[webpages_Membership] ([UserId], [CreateDate], [ConfirmationToken], [IsConfirmed], [LastPasswordFailureDate], [PasswordFailuresSinceLastSuccess], [Password], [PasswordChangedDate], [PasswordSalt], [PasswordVerificationToken], [PasswordVerificationTokenExpirationDate]) VALUES (2, CAST(0x0000A16B00F404BF AS DateTime), NULL, 1, NULL, 0, N'AAJoF+4KILm3d/R3JRhOkOEeRY/dHLoYMIVnrIzjKDD48vr9XZj41O1o0vt8MF1LNg==', CAST(0x0000A16B00F404BF AS DateTime), N'', NULL, NULL)
/****** Object:  Table [dbo].[Users]    Script Date: 04/30/2013 14:07:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](56) NOT NULL,
	[Firstname] [nvarchar](50) NULL,
	[Lastname] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Users] ON
INSERT [dbo].[Users] ([UserId], [Username], [Firstname], [Lastname]) VALUES (2, N'admin', NULL, NULL)
SET IDENTITY_INSERT [dbo].[Users] OFF
/****** Object:  Table [dbo].[Master_Template]    Script Date: 04/30/2013 14:07:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Master_Template](
	[pkMasterID] [int] IDENTITY(1,1) NOT NULL,
	[themeName] [nvarchar](150) NOT NULL,
	[html] [text] NULL,
	[createdOn] [datetime] NOT NULL,
	[createdBy] [nvarchar](50) NOT NULL,
	[modifiedOn] [datetime] NOT NULL,
	[modifiedBy] [nvarchar](50) NOT NULL,
	[markDown] [text] NULL,
 CONSTRAINT [PK_CMRC_Master_Content] PRIMARY KEY CLUSTERED 
(
	[pkMasterID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Master_Template] ON
SET IDENTITY_INSERT [dbo].[Master_Template] OFF
/****** Object:  Table [dbo].[Log]    Script Date: 04/30/2013 14:07:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Log](
	[pkId] [int] IDENTITY(1,1) NOT NULL,
	[Category] [varchar](250) NULL,
	[Info] [varchar](max) NULL,
	[Date_Entered] [datetime] NULL,
 CONSTRAINT [PK_Log] PRIMARY KEY CLUSTERED 
(
	[pkId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[cmsSiteMapItems]    Script Date: 04/30/2013 14:07:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cmsSiteMapItems](
	[pkSiteMapItemID] [int] IDENTITY(1,1) NOT NULL,
	[SiteMapItemName] [nvarchar](64) NOT NULL,
	[fkSiteMapParentId] [int] NOT NULL,
	[relativeUrl] [nvarchar](200) NULL,
	[itemOrder] [int] NULL,
 CONSTRAINT [PK_SiteMap] PRIMARY KEY CLUSTERED 
(
	[pkSiteMapItemID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[cmsSiteMapItems] ON
INSERT [dbo].[cmsSiteMapItems] ([pkSiteMapItemID], [SiteMapItemName], [fkSiteMapParentId], [relativeUrl], [itemOrder]) VALUES (1, N'Home', -1, N'home', 1)
INSERT [dbo].[cmsSiteMapItems] ([pkSiteMapItemID], [SiteMapItemName], [fkSiteMapParentId], [relativeUrl], [itemOrder]) VALUES (3, N'About Us', -1, N'about', 3)
INSERT [dbo].[cmsSiteMapItems] ([pkSiteMapItemID], [SiteMapItemName], [fkSiteMapParentId], [relativeUrl], [itemOrder]) VALUES (4, N'Ministries', -1, N'ministries', 4)
SET IDENTITY_INSERT [dbo].[cmsSiteMapItems] OFF
/****** Object:  Table [dbo].[cmsLevel_Mapping]    Script Date: 04/30/2013 14:07:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cmsLevel_Mapping](
	[pkLevelMappingId] [int] IDENTITY(1,1) NOT NULL,
	[pageLevelDescriptor] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Level_Mapping] PRIMARY KEY CLUSTERED 
(
	[pkLevelMappingId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[cmsLevel_Mapping] ON
INSERT [dbo].[cmsLevel_Mapping] ([pkLevelMappingId], [pageLevelDescriptor]) VALUES (1, N'Page')
INSERT [dbo].[cmsLevel_Mapping] ([pkLevelMappingId], [pageLevelDescriptor]) VALUES (2, N'Sub_Page')
INSERT [dbo].[cmsLevel_Mapping] ([pkLevelMappingId], [pageLevelDescriptor]) VALUES (3, N'Form')
SET IDENTITY_INSERT [dbo].[cmsLevel_Mapping] OFF
/****** Object:  Table [dbo].[Content_Template]    Script Date: 04/30/2013 14:07:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Content_Template](
	[pkContentID] [int] IDENTITY(1,1) NOT NULL,
	[contentName] [nvarchar](150) NOT NULL,
	[html] [text] NULL,
	[createdOn] [datetime] NOT NULL,
	[createdBy] [nvarchar](50) NOT NULL,
	[modifiedOn] [datetime] NOT NULL,
	[modifiedBy] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_CMRC_Content] PRIMARY KEY CLUSTERED 
(
	[pkContentID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Content_Template] ON
SET IDENTITY_INSERT [dbo].[Content_Template] OFF
/****** Object:  Table [dbo].[webpages_UsersInRoles]    Script Date: 04/30/2013 14:07:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[webpages_UsersInRoles](
	[UserId] [int] NOT NULL,
	[RoleId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[webpages_UsersInRoles] ([UserId], [RoleId]) VALUES (1, 1)
INSERT [dbo].[webpages_UsersInRoles] ([UserId], [RoleId]) VALUES (2, 1)
/****** Object:  Table [dbo].[cmsSiteSetup]    Script Date: 04/30/2013 14:07:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cmsSiteSetup](
	[pkSiteSetupId] [int] NOT NULL,
	[fkMaster_Template] [int] NOT NULL,
	[fkFooterContentId] [int] NOT NULL,
	[dateCreated] [datetime] NOT NULL,
	[createdBy] [nvarchar](50) NOT NULL,
	[dateModified] [datetime] NOT NULL,
	[modifiedBy] [nchar](10) NOT NULL,
 CONSTRAINT [PK_SiteSetup] PRIMARY KEY CLUSTERED 
(
	[pkSiteSetupId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cmsContent_Type]    Script Date: 04/30/2013 14:07:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cmsContent_Type](
	[pkContentTypeId] [int] IDENTITY(1,1) NOT NULL,
	[contentName] [nvarchar](100) NOT NULL,
	[fkLevelMappingId] [int] NULL,
	[templateHtml] [nvarchar](500) NULL,
	[inputForm] [nvarchar](max) NULL,
 CONSTRAINT [PK_Content_Type] PRIMARY KEY CLUSTERED 
(
	[pkContentTypeId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[cmsContent_Type] ON
INSERT [dbo].[cmsContent_Type] ([pkContentTypeId], [contentName], [fkLevelMappingId], [templateHtml], [inputForm]) VALUES (1, N'Page', 1, N'{content}', NULL)
INSERT [dbo].[cmsContent_Type] ([pkContentTypeId], [contentName], [fkLevelMappingId], [templateHtml], [inputForm]) VALUES (3, N'Ad', 2, N' <section class="ad"><p class="content">[content]</p></section>      ', N'<div class="formcontrol">     
 <h2>Ad</h2>      <div class="AdForm">       
  <label>Ad Text:</label>       
   <textarea type="text" id="content" class="input-medium"></textarea>      </div>      <div class="Html">
             </div>    </div>         ')
SET IDENTITY_INSERT [dbo].[cmsContent_Type] OFF
/****** Object:  Table [dbo].[cms_Page_Map]    Script Date: 04/30/2013 14:07:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cms_Page_Map](
	[pkMapID] [int] IDENTITY(1,1) NOT NULL,
	[pageName] [nvarchar](50) NOT NULL,
	[fkMasterThemeID] [int] NOT NULL,
	[fkContentID] [int] NOT NULL,
	[fkEditorRoleID] [int] NOT NULL,
	[createdOn] [datetime] NOT NULL,
	[createdBy] [nvarchar](50) NOT NULL,
	[modifiedOn] [datetime] NOT NULL,
	[modifiedBy] [nvarchar](50) NOT NULL,
	[pageTitle] [nvarchar](200) NULL,
	[tags] [nvarchar](500) NULL,
	[isActive] [bit] NULL,
 CONSTRAINT [PK_CMRC_cms_Page_Map] PRIMARY KEY CLUSTERED 
(
	[pkMapID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[cms_Page_Map] ON
INSERT [dbo].[cms_Page_Map] ([pkMapID], [pageName], [fkMasterThemeID], [fkContentID], [fkEditorRoleID], [createdOn], [createdBy], [modifiedOn], [modifiedBy], [pageTitle], [tags], [isActive]) VALUES (3, N'home', 1, 3, 1, CAST(0x0000A16701390CBB AS DateTime), N'cms', CAST(0x0000A16701391018 AS DateTime), N'bobbi', N'Welcome to Shalom Baptist, Hutchinson, MN', NULL, NULL)
INSERT [dbo].[cms_Page_Map] ([pkMapID], [pageName], [fkMasterThemeID], [fkContentID], [fkEditorRoleID], [createdOn], [createdBy], [modifiedOn], [modifiedBy], [pageTitle], [tags], [isActive]) VALUES (19, N'page2', 1, 11, 1, CAST(0x0000A182009E4263 AS DateTime), N'cms', CAST(0x0000A182009E5ECA AS DateTime), N'bobbi', N'Welcome to Shalom Baptist Church', NULL, 1)
INSERT [dbo].[cms_Page_Map] ([pkMapID], [pageName], [fkMasterThemeID], [fkContentID], [fkEditorRoleID], [createdOn], [createdBy], [modifiedOn], [modifiedBy], [pageTitle], [tags], [isActive]) VALUES (20, N'home', 1, 3, 1, CAST(0x0000A18300F17EAA AS DateTime), N'cms', CAST(0x0000A18300F17EAF AS DateTime), N'bobbi', N'Welcome to Shalom Baptist, Hutchinson, MN', NULL, NULL)
SET IDENTITY_INSERT [dbo].[cms_Page_Map] OFF
/****** Object:  StoredProcedure [dbo].[GetMainMenu]    Script Date: 04/30/2013 14:07:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetMainMenu]
AS
SET NOCOUNT ON
DECLARE @menu TABLE (
	[pkSiteMapItemID] int NOT NULL,
	[SiteMapItemName] [nvarchar](64) NOT NULL,
	[fkSiteMapParentId] [int] NOT NULL,
	[relativeUrl] [nvarchar](200) NULL,
	[itemOrder] [int] NULL,
	[templateHtml] [nvarchar] (MAX)
)
INSERT INTO @menu SELECT  -2 AS [pkSiteMapItemID]
,'template' AS [SiteMapItemName],
  -2 AS [fkSiteMapParentId],
  '' AS [relativeUrl],
  -1 AS [itemOrder] ,
  [templateHtml]
  FROM [cmsContent_Type]
  WHERE contentName = 'menu_component'
  
 INSERT INTO @menu  SELECT [pkSiteMapItemID]
	  ,[SiteMapItemName]
      ,[fkSiteMapParentId]
      ,[relativeUrl]
      ,[itemOrder]
      , '' AS [templateHtml]
  FROM [cmsSiteMapItems]
WHERE [fkSiteMapParentId] = -1

INSERT INTO @menu SELECT [pkSiteMapItemID]
	  ,[SiteMapItemName]
      ,[fkSiteMapParentId]
      ,[relativeUrl]
      ,[itemOrder]
      , '' AS [templateHtml]
  FROM [cmsSiteMapItems]
  WHERE [fkSiteMapParentId] IN 
  ( SELECT [pkSiteMapItemID]
  FROM [cmsSiteMapItems]
WHERE [fkSiteMapParentId] = -1)

SELECT * FROM @menu order by itemOrder
GO
/****** Object:  Table [dbo].[cmsContent_Type_Mapping]    Script Date: 04/30/2013 14:07:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cmsContent_Type_Mapping](
	[pkBcId] [int] IDENTITY(1,1) NOT NULL,
	[fkParent] [int] NOT NULL,
	[fkEditorsRole] [int] NOT NULL,
	[fkContentType] [int] NOT NULL,
	[fkContent] [int] NULL,
	[domInsertionPoint] [nvarchar](50) NULL,
	[dateCreated] [datetime] NOT NULL,
	[createdBy] [nvarchar](50) NOT NULL,
	[dateModified] [datetime] NOT NULL,
	[modifiedBy] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Content_Type_Mapping] PRIMARY KEY CLUSTERED 
(
	[pkBcId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'page, hero,ad,notice -fk into ContentType table' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'cmsContent_Type_Mapping', @level2type=N'COLUMN',@level2name=N'fkContentType'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Partial page content, DOM where the content is inserted' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'cmsContent_Type_Mapping', @level2type=N'COLUMN',@level2name=N'domInsertionPoint'
GO
SET IDENTITY_INSERT [dbo].[cmsContent_Type_Mapping] ON
INSERT [dbo].[cmsContent_Type_Mapping] ([pkBcId], [fkParent], [fkEditorsRole], [fkContentType], [fkContent], [domInsertionPoint], [dateCreated], [createdBy], [dateModified], [modifiedBy]) VALUES (16, 19, 1, 1, 11, N'content_template', CAST(0x0000A182009E8D81 AS DateTime), N'bobbi', CAST(0x0000A182009E8569 AS DateTime), N'bobbi')
INSERT [dbo].[cmsContent_Type_Mapping] ([pkBcId], [fkParent], [fkEditorsRole], [fkContentType], [fkContent], [domInsertionPoint], [dateCreated], [createdBy], [dateModified], [modifiedBy]) VALUES (18, 27, 1, 1, 3, N'content_template', CAST(0x0000A18300F4BF38 AS DateTime), N'bobbi', CAST(0x0000A1AF007E0459 AS DateTime), N'bobbi')
INSERT [dbo].[cmsContent_Type_Mapping] ([pkBcId], [fkParent], [fkEditorsRole], [fkContentType], [fkContent], [domInsertionPoint], [dateCreated], [createdBy], [dateModified], [modifiedBy]) VALUES (20, 3, 1, 1, 3, N'body', CAST(0x0000A1830104D9D2 AS DateTime), N'system', CAST(0x0000A1830104DCA4 AS DateTime), N'system')
SET IDENTITY_INSERT [dbo].[cmsContent_Type_Mapping] OFF
/****** Object:  Default [DF__webpages___IsCon__239E4DCF]    Script Date: 04/30/2013 14:07:22 ******/
ALTER TABLE [dbo].[webpages_Membership] ADD  DEFAULT ((0)) FOR [IsConfirmed]
GO
/****** Object:  Default [DF__webpages___Passw__24927208]    Script Date: 04/30/2013 14:07:22 ******/
ALTER TABLE [dbo].[webpages_Membership] ADD  DEFAULT ((0)) FOR [PasswordFailuresSinceLastSuccess]
GO
/****** Object:  ForeignKey [fk_RoleId]    Script Date: 04/30/2013 14:07:22 ******/
ALTER TABLE [dbo].[webpages_UsersInRoles]  WITH CHECK ADD  CONSTRAINT [fk_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[webpages_Roles] ([RoleId])
GO
ALTER TABLE [dbo].[webpages_UsersInRoles] CHECK CONSTRAINT [fk_RoleId]
GO
/****** Object:  ForeignKey [fk_UserId]    Script Date: 04/30/2013 14:07:22 ******/
ALTER TABLE [dbo].[webpages_UsersInRoles]  WITH CHECK ADD  CONSTRAINT [fk_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[webpages_UsersInRoles] CHECK CONSTRAINT [fk_UserId]
GO
/****** Object:  ForeignKey [FK_SiteSetup_Master_Template]    Script Date: 04/30/2013 14:07:22 ******/
ALTER TABLE [dbo].[cmsSiteSetup]  WITH CHECK ADD  CONSTRAINT [FK_SiteSetup_Master_Template] FOREIGN KEY([fkMaster_Template])
REFERENCES [dbo].[Master_Template] ([pkMasterID])
GO
ALTER TABLE [dbo].[cmsSiteSetup] CHECK CONSTRAINT [FK_SiteSetup_Master_Template]
GO
/****** Object:  ForeignKey [FK_SiteSetup_Master_Template1]    Script Date: 04/30/2013 14:07:22 ******/
ALTER TABLE [dbo].[cmsSiteSetup]  WITH CHECK ADD  CONSTRAINT [FK_SiteSetup_Master_Template1] FOREIGN KEY([fkMaster_Template])
REFERENCES [dbo].[Master_Template] ([pkMasterID])
GO
ALTER TABLE [dbo].[cmsSiteSetup] CHECK CONSTRAINT [FK_SiteSetup_Master_Template1]
GO
/****** Object:  ForeignKey [FK_Content_Type_Level_Mapping]    Script Date: 04/30/2013 14:07:22 ******/
ALTER TABLE [dbo].[cmsContent_Type]  WITH CHECK ADD  CONSTRAINT [FK_Content_Type_Level_Mapping] FOREIGN KEY([fkLevelMappingId])
REFERENCES [dbo].[cmsLevel_Mapping] ([pkLevelMappingId])
GO
ALTER TABLE [dbo].[cmsContent_Type] CHECK CONSTRAINT [FK_Content_Type_Level_Mapping]
GO
/****** Object:  ForeignKey [FK_cms_Page_Map_Content_Template]    Script Date: 04/30/2013 14:07:22 ******/
ALTER TABLE [dbo].[cms_Page_Map]  WITH CHECK ADD  CONSTRAINT [FK_cms_Page_Map_Content_Template] FOREIGN KEY([fkContentID])
REFERENCES [dbo].[Content_Template] ([pkContentID])
GO
ALTER TABLE [dbo].[cms_Page_Map] CHECK CONSTRAINT [FK_cms_Page_Map_Content_Template]
GO
/****** Object:  ForeignKey [FK_cms_Page_Map_Master_Template]    Script Date: 04/30/2013 14:07:22 ******/
ALTER TABLE [dbo].[cms_Page_Map]  WITH CHECK ADD  CONSTRAINT [FK_cms_Page_Map_Master_Template] FOREIGN KEY([fkMasterThemeID])
REFERENCES [dbo].[Master_Template] ([pkMasterID])
GO
ALTER TABLE [dbo].[cms_Page_Map] CHECK CONSTRAINT [FK_cms_Page_Map_Master_Template]
GO
/****** Object:  ForeignKey [FK_cms_Page_Map_webpages_Roles]    Script Date: 04/30/2013 14:07:22 ******/
ALTER TABLE [dbo].[cms_Page_Map]  WITH CHECK ADD  CONSTRAINT [FK_cms_Page_Map_webpages_Roles] FOREIGN KEY([fkEditorRoleID])
REFERENCES [dbo].[webpages_Roles] ([RoleId])
GO
ALTER TABLE [dbo].[cms_Page_Map] CHECK CONSTRAINT [FK_cms_Page_Map_webpages_Roles]
GO
/****** Object:  ForeignKey [FK_Content_Type_Mapping_Content_Template]    Script Date: 04/30/2013 14:07:25 ******/
ALTER TABLE [dbo].[cmsContent_Type_Mapping]  WITH CHECK ADD  CONSTRAINT [FK_Content_Type_Mapping_Content_Template] FOREIGN KEY([fkContent])
REFERENCES [dbo].[Content_Template] ([pkContentID])
GO
ALTER TABLE [dbo].[cmsContent_Type_Mapping] CHECK CONSTRAINT [FK_Content_Type_Mapping_Content_Template]
GO
/****** Object:  ForeignKey [FK_Content_Type_Mapping_Content_Type]    Script Date: 04/30/2013 14:07:25 ******/
ALTER TABLE [dbo].[cmsContent_Type_Mapping]  WITH CHECK ADD  CONSTRAINT [FK_Content_Type_Mapping_Content_Type] FOREIGN KEY([fkContentType])
REFERENCES [dbo].[cmsContent_Type] ([pkContentTypeId])
GO
ALTER TABLE [dbo].[cmsContent_Type_Mapping] CHECK CONSTRAINT [FK_Content_Type_Mapping_Content_Type]
GO
/****** Object:  ForeignKey [FK_Content_Type_Mapping_webpages_Roles]    Script Date: 04/30/2013 14:07:25 ******/
ALTER TABLE [dbo].[cmsContent_Type_Mapping]  WITH CHECK ADD  CONSTRAINT [FK_Content_Type_Mapping_webpages_Roles] FOREIGN KEY([fkEditorsRole])
REFERENCES [dbo].[webpages_Roles] ([RoleId])
GO
ALTER TABLE [dbo].[cmsContent_Type_Mapping] CHECK CONSTRAINT [FK_Content_Type_Mapping_webpages_Roles]
GO
