html {
    background-color: #EBECEC;
    margin: 0;
    padding: 0;
}

body {
    color: #333;
    font-size: .85em;
    font-family: 'Open Sans',Verdana, Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
}

a {
    color: #333;
    outline: none;
    padding-left: 3px;
    padding-right: 3px;
    text-decoration: underline;
    cursor: hand;
}

    a:link, a:visited,
    a:active, a:hover {
        color: #333;
    }

    a:hover {
        background-color: #c7d1d6;
    }

header, footer, hgroup,
nav, section {
    display: block;
}

mark {
    padding-left: 5px;
    padding-right: 5px;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.clear-fix:after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

h3, h1 {
    color: #1A757A; /*3FFFF5;C5E4F9;*/
}

h2,
h4, h5, h6 {
    color: #000;
    margin-bottom: 0;
    padding-bottom: 0;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.75em;
}

h3 {
    font-size: 1.2em;
}

h4 {
    font-size: 1.1em;
}

h5, h6 {
    font-size: 1em;
}

    h5 a:link, h5 a:visited, h5 a:active {
        padding: 0;
        text-decoration: none;
    }


/* main layout
----------------------------------------------------------*/
.content-wrapper {
    margin: 0 auto;
    padding-left: 20px;
}

.header {
    background: url(images/shalom.header.background.png) repeat #c7d1d6;
    height: 9.5em;
    margin-bottom:3em;
}

.logo {
    height: 10em;
    width: 16.58em;
    float:left;
}
.caret {
    margin-left:1em;
}
div.contentmenu {
    margin-top: 6.7em;
    margin-left: 16.62em;
    width: 60%;
}
.nav-tabs {
    border:0;
}
.nav-tabs > li > a {
    text-decoration:none;
    color:#666666;
}
.nav-tabs>li>a:hover, .nav-tabs>li>a:active, .nav-tabs > .active > a, .nav-tabs > .active > a:hover {
border-color: #eee #ccc;

        color: #3266CC;
        cursor: default;
        background-color: #EBECEC;
    }
.nav-tabs > li.active {
border-bottom: 0 none;
margin-bottom: 0;
padding-bottom: 0;
position: relative;
top: 3px;
z-index: 1000;
}
.dropdown-menu li > a {
    text-decoration: none;
}
.header a.icons {
    float: right;
    margin-right: 25px;
    margin-top: 25px;
    height: 50px;
    width: 50px;
}

.carousel  {
    background-color: #FFFFFF;
    padding:.3em;
}
    .carousel .image {
        height: 22em;
        width:100%;
    }

.carousel-caption {
    background-color:transparent;
}
.carousel-control {
position: absolute;
top: 55%;
left: 15px;
width: 40px;
height: 40px;
margin-top: -20px;
font-size: 60px;
font-weight: 100;
line-height: 30px;
color: #fff;
text-align: center;
background: transparent;
border: 0;
-webkit-border-radius: 23px;
-moz-border-radius: 23px;
border-radius: 23px;
opacity: .5;
filter: alpha(opacity=50);
}
div.span12.article  {    
    display:table;
    height:15em;
}
.article a {
   width: 25%;
    display: table-cell;
    height: 10em;
    text-align: center;
    padding:2em;
    color:#EBECEC;
    text-decoration:none;
    margin:0;
}
    .article a span {
display: block;
width: 90%;
text-align: center;
margin: auto;
        margin-top: 4em;
    }
.article .newhere {
        background: url(images/newhere.gif) no-repeat center center;
    }
  .article .ministries
   {
        background: url(images/ministries.gif) no-repeat center center;
    }
  .article .location
   {
         background: url(images/locationAndTimes.gif) no-repeat center center;
   }
  .article .messages {
        background: url(images/latestMessages.gif) no-repeat center center;
    }
.imnewimg {
height:30%;
width:30%;
float:right;
margin-right:3em;
}
ul.feedback li {
list-style:none;

}
.feedback input[type=text], .feedback textarea
 {
    width:655px;
}
.beliefs {
    line-height:2em;
}
ul.beliefs li {
    list-style: none;
    margin:2em;
}

table {
    border: 0;
}